<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="data:,">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <p class="navbar-brand">DAILY JOURNAL</p>
        <ul class="nav navbar-nav justify-content-end">
          <!-- 6 -->
          <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
          <li class="nav-item" id="compose"><a class="nav-link" href="/compose">COMPOSE</a></li>
          <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
